<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook-log in or sign up</title>
    <link rel="stylesheet" href="css/fbcss.css">
    <link rel="icon" href="img\fblogo.png" type="image/icon type">
</head>
<body>

    <div class="fb">
        <div class="contantbox  " >
            <p class="face">facebook</p>
            <p class="fbdetail">Facebook helps you connect and share with the people in your life.</p>
        </div>
        <div class="box2">
            <div class="box3">
            <form action="/" class="fbform" method="post">
            <div><input type="text" class="ep" name="text" placeholder="Email address or phone number"></div>
            <div><input type="password" name="password" class="ep" placeholder="enter the password"></div>
            <div><button action="/" type="submit" class="btn ep">Log in</button></div>
            <div class="lnk"><a href="">forgetten password?</a></div>
            <hr>
            <div class="create"><button type="submit" class="btn2">Create new account</button></div>
            </form>
            <div class="details2">
            <p><span>Create a Page</span>for a celebrity, brand or business</p></div></div></div></div>
    


</body>
</html>